pyqt6
git+https://github.com/Ledger-Donjon/pystages@v1.1.1b
Pillow
opencv-python
PyYAML
shapely
triangle
requests 
numpy
pypdm
flask
flask_restx
hidapi
git+ssh://***REMOVED***/donjon/laser-driver#egg=donjon-laser-driver&subdirectory=software